In [ ]:
from sqlalchemy import create_engine, text

In [ ]:
database_name = 'Metal'    # Fill this in with your lahman database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [ ]:
engine = create_engine(connection_string)

In [ ]:
import pandas as pd

In [ ]:
job_operations_2023 = 'SELECT * FROM job_operations_2023'

In [ ]:
with engine.connect() as connection:
    job_ops_2023 = pd.read_sql(text(job_operations_2023), con = connection)

In [ ]:
job_operations_2024 = 'SELECT * FROM job_operations_2024'

In [ ]:
with engine.connect() as connection:
    job_ops_2024 = pd.read_sql(text(job_operations_2024), con = connection)

In [ ]:
jobs = 'SELECT * FROM jobs'

In [ ]:
with engine.connect() as connection:
    jobs = pd.read_sql(text(jobs), con = connection)

In [ ]:
part_assemblies = 'SELECT * FROM part_assemblies'

In [ ]:
with engine.connect() as connection:
    part_assemblies = pd.read_sql(text(part_assemblies), con = connection)

In [ ]:
part_operations = 'SELECT * FROM part_operations'

In [ ]:
with engine.connect() as connection:
    part_operations = pd.read_sql(text(part_operations), con = connection)

In [ ]:
parts = 'SELECT * FROM parts'

In [ ]:
with engine.connect() as connection:
    parts = pd.read_sql(text(parts), con = connection)

In [ ]:
sales_order_job_links = 'SELECT * FROM sales_order_job_links'

In [ ]:
with engine.connect() as connection:
    sales_order_job_links = pd.read_sql(text(sales_order_job_links), con = connection)

In [ ]:
sales_order_lines = 'SELECT * FROM sales_order_lines'

In [ ]:
with engine.connect() as connection:
    sales_order_lines = pd.read_sql(text(sales_order_lines), con = connection)

In [ ]:
sales_orders = 'SELECT * FROM sales_orders'

In [ ]:
with engine.connect() as connection:
    sales_orders = pd.read_sql(text(sales_orders), con = connection)

In [ ]:
shipment_lines = 'SELECT * FROM shipment_lines'

In [ ]:
with engine.connect() as connection:
    shipment_lines = pd.read_sql(text(shipment_lines), con = connection)

In [ ]:
shipments = 'SELECT * FROM shipments'

In [ ]:
with engine.connect() as connection:
    shipments = pd.read_sql(text(shipments), con = connection)

In [ ]:
import matplotlib.pyplot as plt

1. Do an analysis of customers. The customer can be identified using the jmp_customer_organization_id from the jobs table or the omp_customer_organization_id from the sales_orders table. Here are some example questions to get started:
   
    a. Which customers have the highest volume of jobs? Which generate the most revenue (as indicated by the omp_order_subtotal_base in the sales_order table)? 
    
    MORGO 2721/3637 MORGO: Total Revenue = 8458041.04

In [ ]:
sales_orders.omp_customer_organization_id.value_counts()

In [ ]:
jobs.jmp_customer_organization_id.value_counts()

In [ ]:
sales_orders

**   c. How has the customer base changed over time? What percentage of jobs are for new customers compared to repeat customers?  
    d. Perform a breakdown of customers by operation (as indicated by the jmo_process short_description in the job_operations_2023 or job_operations_2024 tab**e).

In [ ]:
total_sales = sales_orders[['omp_customer_organization_id','omp_order_total_base']]

In [ ]:
total_sales.groupby('omp_customer_organization_id', sort = False).sum()

**b. How has the volume of work changed for each customer over time? Are there any seasonal patterns? How have the number of estimated hours per customer changed over time? Estimated hours are in the jmo_estimated_production_hours columns of the job_operations_2023/job_operations_2024 tables.**

In [ ]:
estimated_hours = job_ops_2023[['jmo_job_id','jmo_estimated_production_hours']]

In [ ]:
estimated_hours

**3. Inspect the type of operation for each job, as indicated by the jmo_process_short_description in the job_operations_2023 or job_operations_2024 table.  
 a. Are there certain operations, such as welding, which generate more revenue per production hour? 10,20, WELDING AND MANUAL PRESS BRAKE
 

    ?

**a. Are there certain operations, such as welding, which generate more revenue per production hour?  10,20, WELDING AND MANUAL PRESS BRAKE**

In [ ]:
job_process = job_ops_2023[['jmo_process_short_description','jmo_completed_production_hours']]

In [ ]:
job_production = job_process.groupby('jmo_process_short_description').sum('jmo_completed_production_hours')

In [ ]:
job_production.sort_values(by = 'jmo_completed_production_hours').tail(2)

**b. Are certain operations consistently generating more revenue per production hour than others or has it changed over time?
It appears the same items are producing more revenue over time compared to their counterparts**

In [ ]:
jobs_by_operation_id = job_ops_2023[['jmo_job_operation_id','jmo_completed_production_hours']]

In [ ]:
jobs_by_operation_id.groupby('jmo_job_operation_id').sum('jmo_completed_production_hours').sort_values(by = 'jmo_completed_production_hours',ascending=False)

In [ ]:
jobs_by_operation_id.value_counts('jmo_job_operation_id')

**c. Which operations are most frequently associated with the company's top customers? Are they also the ones that are generating the most revenue per production hour?** 10 and 20 are the most frquently used by the top companies

In [ ]:
pd.read_csv(r'C:\Users\J2das\Documents\NSS\PYTHON\Projects\metal-fabrication-snickers\data\metal_fab_shipments.csv')

In [ ]:
pd.read_csv(r'C:\Users\J2das\Documents\NSS\PYTHON\Projects\metal-fabrication-snickers\data\sales_order.csv')

In [ ]:
pd.read_csv(r'C:\Users\J2das\Documents\NSS\PYTHON\Projects\metal-fabrication-snickers\data\metal_fab_part_operations.csv')

In [ ]:
shipments

In [ ]:
query3 = 'SELECT * FROM jobs INNER JOIN job_operations_2023 as j23 ON jobs.jmp_job_id = j23.jmo_job_id INNER JOIN sales_order_job_links as sojl ON jobs.jmp_job_id = sojl.omj_job_id INNER JOIN sales_orders as so ON so.omp_sales_order_id = sojl.omj_sales_order_id'

In [ ]:
with engine.connect() as connection:
    query3 = pd.read_sql(text(query3), con = connection)

In [ ]:
question3c = query3[['jmp_customer_organization_id','jmo_job_operation_id','jmo_process_short_description', 'jmo_completed_production_hours','omp_order_subtotal_base']]

In [ ]:
question3c

In [ ]:
company_production_hours = question3c[['jmp_customer_organization_id', 'jmo_completed_production_hours','omp_order_subtotal_base']]

In [ ]:
company_production_hours['omp_order_subtotal_base'] = company_production_hours['omp_order_subtotal_base'].astype('int64')

In [ ]:
company_production_hours = company_production_hours.groupby(by = 'jmp_customer_organization_id').sum().reset_index()

In [ ]:
company_production_hours.sort_values(by ='omp_order_subtotal_base', ascending= False)

In [ ]:
question3c.value_counts('jmo_job_operation_id')

In [ ]:
question3c.value_counts('jmo_process_short_description').head(15)

In [ ]:
question3c['omp_order_subtotal_base'] = question3c['omp_order_subtotal_base'].astype('int64')

In [ ]:
question3c.head(50)

In [ ]:
description_hours = question3c[['jmo_process_short_description','jmo_completed_production_hours','omp_order_subtotal_base']]

In [ ]:
description_hours = description_hours.groupby('jmo_process_short_description').sum().reset_index()

In [ ]:
description_hours.sort_values(by = 'omp_order_subtotal_base', ascending=False)

In [ ]:
description_hours['jmo_completed_production_hours'] = description_hours['jmo_completed_production_hours'].astype('int')

In [ ]:
description_hours.head(20)

3. Inspect the type of operation for each job, as indicated by the jmo_process_short_description in the job_operations_2023 or job_operations_2024 table.  
    a. Are there certain operations, such as welding, which generate more revenue per production hour? **Laser Cutting(volume based), Wrap, Powder Coating/Dipping Coating(multiforms)** 
    b. Are certain operations consistently generating more revenue per production hour than others or has it changed over time**2023 seems to be consistent on the operations over time being consistently used 10/20/30**  
    c. Which operations are most frequently associated with the company's top customers? Are they also the ones that are generating the most revenue per production ho **laser cutting/laser cut prints,  Manuel Press Brake,   wrapping/galvanizing/dipping**46ur?

In [ ]:
date_jobs = query3[['jmo_start_date','jmo_job_operation_id']]

In [ ]:
date_jobs.value_counts()

In [ ]:
id_types_23 = 'SELECT jmo_job_operation_id, COUNT(jmo_job_operation_id) as total_job_count_2023 FROM job_operations_2023 GROUP BY jmo_job_operation_id ORDER BY total_job_count_2023 DESC'

In [ ]:
with engine.connect() as connection:
    id_counts_23 = pd.read_sql(text(id_types_23), con = connection)

In [ ]:
id_counts_23

In [ ]:
id_types_24 = 'SELECT jmo_job_operation_id, COUNT(jmo_job_operation_id) as total_job_count_2024 FROM job_operations_2024 GROUP BY jmo_job_operation_id ORDER BY total_job_count_2024 DESC'

In [ ]:
with engine.connect() as connection:
    id_counts_24 = pd.read_sql(text(id_types_24), con = connection)

In [ ]:
id_counts_24

In [ ]:
total_id_counts_not_dated = pd.concat([id_counts_23, id_counts_24], axis=1, ignore_index=True)

**TOTAL ID COUNTS FOR JMO_JOB_OPERATION ID WITHOUT DATE CONSTRAINTS**

In [ ]:
total_id_counts_not_dated = total_id_counts_not_dated.rename(columns = {0 : 'job_type_id', 1 : 'id_count_2023', 3 : 'id_count_2024'})

In [ ]:
total_id_counts_not_dated['total_id_counts'] = total_id_counts_not_dated['id_count_2023'] + total_id_counts_not_dated['id_count_2024']

In [ ]:
total_id_counts_not_dated = total_id_counts_not_dated.drop(columns = [2])

**ID COUNT TOTALS YEAR 2023, YEAR 2024, AND TOTAL COUNTS**

In [ ]:
total_id_counts_not_dated

In [ ]:
short_description_23 = 'SELECT jmo_process_short_description, COUNT(jmo_process_short_description) as total_process_count_2023 FROM job_operations_2023 GROUP BY jmo_process_short_description ORDER BY total_process_count_2023 DESC'

In [ ]:
with engine.connect() as connection:
    count_description_23 = pd.read_sql(text(short_description_23), con = connection)

In [ ]:
count_description_23

**PROCESS FOR SHORT DESCRIPTION CLEANING**

In [ ]:
short_description_24 = 'SELECT jmo_process_short_description, COUNT(jmo_process_short_description) as total_process_count_2024 FROM job_operations_2024 GROUP BY jmo_process_short_description ORDER BY total_process_count_2024 DESC'

In [ ]:
with engine.connect() as connection:
    count_description_24 = pd.read_sql(text(short_description_24), con = connection)

In [ ]:
count_description_24.dtypes

In [ ]:
total_short_description_counts_not_dated = pd.concat([count_description_23, count_description_24], axis=1, ignore_index=True)

In [ ]:
total_short_description_counts_not_dated.dtypes

In [ ]:
total_short_description_counts_not_dated.fillna(0, inplace=True)

In [ ]:
total_short_description_counts_not_dated[3] = total_short_description_counts_not_dated[3].astype('int64')

In [ ]:
total_short_description_counts_not_dated

In [ ]:
total_short_description_counts_not_dated = total_short_description_counts_not_dated.rename(columns = {0 : 'description_type', 1 : 'description_count_2023', 3 : 'description_count_2024'})

In [ ]:
total_short_description_counts_not_dated = total_short_description_counts_not_dated.drop(columns = [2])

In [ ]:
total_short_description_counts_not_dated['description_total_count'] = total_short_description_counts_not_dated['description_count_2023'] + total_short_description_counts_not_dated['description_count_2024']

**TOTAL SHORT DESCRIPTION COUNT FOR 2023 and 2024 not date dependent**

In [ ]:
total_short_description_not_dated = total_short_description_counts_not_dated.head(10)

In [ ]:
total_short_description_not_dated

In [ ]:
import numpy as np

In [ ]:
import seaborn as sns

**DESCRIPTION TYPE GRAPHS YEAR2023, YEAR2024, and STACKED BAR GRAPH FOR BOTH YEAR TOTALS**

In [ ]:
fig, ax = plt.subplots(figsize=(14, 10))
plt.rcParams['font.weight'] = 'bold'
ax = sns.barplot(x='description_count_2023', y='description_type', data=total_short_description_not_dated, color='grey', edgecolor = 'red')
sns.set_style("white")

plt.xlabel('Total Amount 2023',fontsize=14)
plt.ylabel('Description Job Type 2023',fontsize=16)
plt.title('Description Type 2023',fontsize=18)

ax.bar_label(ax.containers[0],fontsize=12)


plt.savefig('Description Type Bar Graph 2023 final.png', transparent=True, bbox_inches='tight')

plt.show()

In [ ]:
fig, ax = plt.subplots(figsize=(14, 10))
plt.rcParams['font.weight'] = 'bold'
ax = sns.barplot(x='description_count_2024', y='description_type', data=total_short_description_not_dated, color= 'grey',edgecolor = 'red')
sns.set_style("whitegrid")

plt.xlabel('Total Amount 2024',fontsize=14)
plt.ylabel('Job Type 2024',fontsize=16)
plt.title('Description Type 2024',fontsize=18)

ax.bar_label(ax.containers[0],fontsize=12)


plt.savefig('Description Type Bar Graph 2024 test.png', transparent=True, bbox_inches='tight', pad_inches=0.5)
plt.show()

In [ ]:
df = pd.DataFrame({'2023': [9420, 6732, 6368, 3353, 2153, 2072,
                                 1733, 1220, 973, 738],
                   '2024': [11658, 7033, 5004, 2485, 2036, 1761,
                                1572, 1354, 1168, 908]},
                                    index=['Laser Cutting','Manual Press Brake', 'Wrap','Laser Cut Per Print', 'Set Up Instruction','Package for Shipment','Weld','Turret Punch','Powder Coat Cat Black','Hot-Dip Galvanize'])



df.plot(kind='barh', stacked=True, color=['red', 'black'])


plt.xlabel('Totals for Each Year')
plt.ylabel('Job Desription')

plt.title('Total Job Descriptions Stacked Bar Graph 2023 and 2024')

plt.legend(fontsize=16)

plt.savefig('Description Type Stacked Bar Graph 2023 - 2024 final.png', transparent=True, bbox_inches='tight')

plt.show()

In [ ]:
total_id_counts_not_dated.head(10)

In [ ]:
fig, ax = plt.subplots(figsize=(16, 10))
plt.rcParams['font.weight'] = 'bold'
ax = sns.barplot(x='job_type_id', y='id_count_2023', data=total_id_counts_not_dated.head(10), color='grey', edgecolor = 'red')
sns.set_style("whitegrid")

plt.xlabel('Job ID 2023',fontsize=14)
plt.ylabel('Total Amount 2023',fontsize=16)
plt.title('Job ID Count 2023', fontsize=18)

ax.bar_label(ax.containers[0],fontsize=12)

plt.savefig('Job ID Type Bar Graph 2023 final.png', transparent=True, bbox_inches='tight')
plt.show()

In [ ]:
fig, ax = plt.subplots(figsize=(16, 10))
plt.rcParams['font.weight'] = 'bold'
ax = sns.barplot(x='job_type_id', y='id_count_2024', data=total_id_counts_not_dated.head(10), color='grey',edgecolor = 'red')
sns.set_style("whitegrid")

plt.xlabel('Job ID 2024',fontsize=14)
plt.ylabel('Total Amount 2024',fontsize=16)
plt.title('Job ID Count 2024', fontsize=18)

ax.bar_label(ax.containers[0],fontsize=12)

plt.savefig('Job ID Type Bar Graph 2024 final.png', transparent=True, bbox_inches='tight')

plt.show()

In [ ]:
total_id_graph = total_id_counts_not_dated.head(10)

In [ ]:
Year2023 = [16183, 13259, 9313, 3415, 826, 337, 169, 57, 39, 23]
Year2024 = [17099, 13569, 7068, 2673, 822, 474, 209, 164, 63, 45]
index = ['10 - Laser Cutting','20 - Wrap','30 - Tap','40 - Powder C.', '50 - P.C. Cat Black', 'Assorted - 60', 'Assorted - 70','Assorted - 80',' Assorted - 90','Assorted - 100']

df = pd.DataFrame({'2023': Year2023,
                   '2024': Year2024}, index=index)
bars = ax.bar(Year2023,Year2023)
ax.bar_label(bars)

ax = df.plot.bar(rot=0,color=['red','black'],figsize=(16,10))
plt.legend(fontsize=20)
plt.title("Total ID Count 2023 - 2024")
plt.xlabel("ID Types", fontsize=18)
plt.ylabel("Total ID Count Per Year", fontsize=18)
plt.savefig('Job ID Type side by side Bar Graph 2023 - 2024 final.png', transparent=True, bbox_inches='tight')
plt.show()

In [ ]:
total_id_graph

In [ ]:
year2023 = [16183, 13259, 9313, 3415, 826, 337, 169, 57, 39, 23]
year2024 = [17099, 13569, 7068, 2673, 822, 474, 209, 164, 63, 45]
index = ['10 - Laser Cutting or Weld or Grind ','20 - Wrap','30 - Tap','40 - Powder Coating', '50 - Powder Coating Cat Black', 'Assorted - 60', 'Assorted - 70','Assorted - 80',' Assorted - 90','Assorted - 100']
df = pd.DataFrame({'2023': year2023,
                   '2024': year2024}, index=index)
ax = df.plot.bar(stacked=True, color=['red','black'], figsize=(16,10))
plt.legend(fontsize=20)
plt.title("Total ID Count 2023 - 2024")
plt.xlabel("ID type", fontsize=20)
plt.ylabel("Total ID Count Per Year", fontsize=20)
plt.savefig('Job ID Type stacked Bar Graph 2023 - 2024 final.png', transparent=True, bbox_inches='tight', pad_inches=0.5)
plt.show()