In [2]:
from sqlalchemy import create_engine, text

In [4]:
database_name = 'Metal'    # Fill this in with your lahman database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [6]:
engine = create_engine(connection_string)

In [8]:
import pandas as pd

In [12]:
job_operations_2023 = 'SELECT * FROM job_operations_2023'

In [14]:
with engine.connect() as connection:
    job_ops_2023 = pd.read_sql(text(job_operations_2023), con = connection)

In [26]:
job_operations_2024 = 'SELECT * FROM job_operations_2024'

In [28]:
with engine.connect() as connection:
    job_ops_2024 = pd.read_sql(text(job_operations_2024), con = connection)

In [30]:
jobs = 'SELECT * FROM jobs'

In [32]:
with engine.connect() as connection:
    jobs = pd.read_sql(text(jobs), con = connection)

In [40]:
part_assemblies = 'SELECT * FROM part_assemblies'

In [42]:
with engine.connect() as connection:
    part_assemblies = pd.read_sql(text(part_assemblies), con = connection)

In [46]:
part_operations = 'SELECT * FROM part_operations'

In [48]:
with engine.connect() as connection:
    part_operations = pd.read_sql(text(part_operations), con = connection)

In [52]:
parts = 'SELECT * FROM parts'

In [54]:
with engine.connect() as connection:
    parts = pd.read_sql(text(parts), con = connection)

In [58]:
sales_order_job_links = 'SELECT * FROM sales_order_job_links'

In [60]:
with engine.connect() as connection:
    sales_order_job_links = pd.read_sql(text(sales_order_job_links), con = connection)

In [64]:
sales_order_lines = 'SELECT * FROM sales_order_lines'

In [66]:
with engine.connect() as connection:
    sales_order_lines = pd.read_sql(text(sales_order_lines), con = connection)

In [70]:
sales_orders = 'SELECT * FROM sales_orders'

In [72]:
with engine.connect() as connection:
    sales_orders = pd.read_sql(text(sales_orders), con = connection)

In [76]:
shipment_lines = 'SELECT * FROM shipment_lines'

In [78]:
with engine.connect() as connection:
    shipment_lines = pd.read_sql(text(shipment_lines), con = connection)

In [82]:
shipments = 'SELECT * FROM shipments'

In [84]:
with engine.connect() as connection:
    shipments = pd.read_sql(text(shipments), con = connection)

In [104]:
sales_orders.omp_customer_organization_id.value_counts()

omp_customer_organization_id
M030-MORGO    2721
F022-F&D       848
M026-MIURA     751
S046-SPOC      589
S002-SREIL     391
              ...
V006-VONGA       1
A007-ATR         1
K009-KOMAT       1
C037-CHRKE       1
F024-FMW S       1
Name: count, Length: 123, dtype: int64

In [106]:
jobs.jmp_customer_organization_id.value_counts()

jmp_customer_organization_id
M030-MORGO    3637
S046-SPOC     1112
S039-SMI       932
Y002-YNGTC     890
M026-MIURA     774
              ...
A055-AIG         1
R023-ROBNS       1
C048-C&CFA       1
A001-AIRTE       1
V009-VERME       1
Name: count, Length: 122, dtype: int64

In [108]:
sales_orders

,omp_sales_order_id,omp_plant_id,omp_plant_department_id,omp_customer_organization_id,omp_arinvoice_location_id,omp_arinvoice_contact_id,omp_quote_location_id,omp_quote_contact_id,omp_ship_organization_id,omp_ship_location_id,...,omp_ups3rd_party_organization_id,omp_ups3rd_party_location_id,omp_easy_order_status,omp_easy_order_enabled,omp_split_percent_total,omp_easy_order_external_status,omp_easy_order_paid,omp_created_by,omp_created_date,uomp_promise_date
0,31876,1,None,M030-MORGO,NaN,KimHo,NaN,None,M030-MORGO,1,...,None,None,0,False,0,CON,False,bsinclair,2023-09-12 08:41:55,2023-10-26
1,31877,1,None,M030-MORGO,NaN,KimHo,NaN,None,M030-MORGO,1,...,None,None,0,False,0,CON,False,bsinclair,2023-09-12 08:44:53,2023-10-19
2,31878,1,None,M030-MORGO,NaN,KimHo,NaN,None,M030-MORGO,1,...,None,None,0,False,0,CON,False,bsinclair,2023-09-12 08:47:07,2023-10-27
3,31879,1,None,M030-MORGO,NaN,KimHo,NaN,None,M030-MORGO,1,...,None,None,0,False,0,CON,False,bsinclair,2023-09-12 08:48:54,2023-10-26
4,31880,1,None,M030-MORGO,NaN,KimHo,NaN,None,M030-MORGO,1,...,None,None,0,False,0,CON,False,bsinclair,2023-09-12 08:50:27,2023-10-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8276,35821,1,None,Y002-YNGTC,NaN,AP,NaN,None,Y002-YNGTC,JAX,...,None,None,0,False,0,CON,False,shale,2024-11-08 15:09:24,2025-01-24
8277,35823,1,None,A050-ALLVA,NaN,None,NaN,None,A050-ALLVA,None,...,None,None,0,False,0,CON,False,shale,2024-11-08 15:11:48,2024-11-25
8278,35820,1,None,Y002-YNGTC,NaN,AP,NaN,None,Y002-YNGTC,JAX,...,None,None,0,False,0,CON,False,shale,2024-11-08 15:07:19,2025-01-30
8279,35822,1,None,M030-MORGO,NaN,KimHo,NaN,None,M030-MORGO,5,...,None,None,0,False,0,CON,False,shale,2024-11-08 15:10:49,2025-01-07
8280,35824,1,None,S002-SREIL,NaN,Ronni,NaN,None,S002-SREIL,CHATT,...,None,None,0,False,0,CON,False,shale,2024-11-08 15:13:25,2024-11-27

**1. Do an analysis of customers. The customer can be identified using the jmp_customer_organization_id from the jobs table or the omp_customer_organization_id from the sales_orders table. Here are some example questions to get started:  
    a. Which customers have the highest volume of jobs? Which generate the most revenue (as indicated by the omp_order_subtotal_base in the sales_order table)? MORGO 2721/3637 MORGO: Total Revenue = 8458041.04
     
    b. How has the volume of work changed for each customer over time? Are there any seasonal patterns? How have the number of estimated hours per customer changed over time? Estimated hours are in the jmo_estimated_production_hours columns of the job_operations_2023/job_operations_2024 tables.
      
    c. How has the customer base changed over time? What percentage of jobs are for new customers compared to repeat customers?  
    d. Perform a breakdown of customers by operation (as indicated by the jmo_process short_description in the job_operations_2023 or job_operations_2024 tab**e).

In [123]:
total_sales = sales_orders[['omp_customer_organization_id','omp_order_total_base']]

In [147]:
total_sales.groupby('omp_customer_organization_id', sort = False).sum()

                              omp_order_total_base
omp_customer_organization_id
M030-MORGO                              8458041.04
F022-F&D                                4079562.35
M026-MIURA                              1240109.62
A045-AFS                                 852007.04
H030-HARCO                                38655.54
...                                            ...
H035-HUBNE                                13156.16
T053                                        438.61
H033-HERM                                   345.06
T034-TENCA                                  594.24
F024-FMW S                                 2218.57

[123 rows x 1 columns]

In [164]:
estimated_hours = job_ops_2023[['jmo_job_id','jmo_estimated_production_hours']]

In [170]:
estimated_hours

           jmo_job_id  jmo_estimated_production_hours
0      31816-0001-001                            0.83
1      31872-0001-001                            1.38
2      31872-0001-001                            5.00
3      31872-0001-001                            2.50
4      31872-0001-001                            0.13
...               ...                             ...
42680  32925-0003-001                            0.01
42681  32925-0003-001                            0.00
42682  32925-0001-001                            0.02
42683  32925-0001-001                            0.04
42684  32925-0001-001                            0.00

[42685 rows x 2 columns]